


<div class="cocktail-container">
    <div class="cocktail-pic">
      <%= image_tag "http://imbibemagazine.com/wp-content/uploads/2018/03/coffee-tonic-julia-momose-horizontal-crdt-emma-janzen.jpg", height: 400 %>
    </div>
    <div class="cocktail-details">
        <div class="cocktail-name">
          <p><%= @cocktail.name %></p>
        </div>
        <div class="cocktail-recipe">
          <p><% @cocktail.doses.each do |d|%>
            <p>
              <%= link_to dose_path(d), class: "trash-can", method: :delete, data: { confirm: "Are you sure?" } do  %>
              <i class="fa fa-trash"></i>
              <% end %>
              <%= d.description %> of <%=d.ingredient.name%>
            </p>
            <!-- <p><%#= link_to "Delete", dose_path(d), method: :delete, data: { confirm: "Are you sure?" } %></p> -->
          <% end %>
        </div>
        <div class="action-icon">
          <%= link_to "Add an Ingredient", new_cocktail_dose_path(@cocktail), class: "add-ingredient" %><br>
          <%= link_to "Back", cocktails_path %>
        </div>
    </div>
  </div>
</div>


