<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar-wagon">
      <!-- Logo -->
    <!--   <a href="/" class="navbar-wagon-brand">
        <img src="images/logo.png" alt="logo">
      </a> -->
      <!-- Right Navigation -->
      <div class="cocktail-icon">
        <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "noun_7899_cc.png", height: 80 %>
        <% end %>
      </div>

      <h1><%= link_to "Mister Cocktails", root_path, class: "navbar-header" %></h1>
      <div class="navbar-wagon-right hidden-xs hidden-sm">
          <p><%= link_to "ADD COCKTAIL", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %></p>
        <!-- Profile picture with dropdown list -->
      </div>
    </div>
    <%= yield %>
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>
  </body>
</html>
